<!-- table of posts -->
<table class="posts datatables-table table table-striped table-hover table-bordered">
    <thead>
        <tr class="header">
            <th class="center top col50px">#</th>
            <th class="center top col110px">Date</th>
            <th class="center top col50prc">Arabizi</th>
            <th class="center top col50prc">Arabic</th>
            <th class="center top col100px">NER Types</th>
            <th class="center top col130px">Entities</th>
            <th class="center top col75px"></th>
        </tr>
    </thead>
    <tfoot>
        <tr class="header">
            <th class="center top">#</th>
            <th class="center top">Date</th>
            <th class="center top">Arabizi</th>
            <th class="center top">Arabic</th>
            <th class="center top">NER Types</th>
            <th class="center top">Entities</th>
            <th class="center top"></th>
        </tr>
    </tfoot>
</table>