@{
    ViewBag.Title = "Adekwasy - Stats & Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {

    @Styles.Render("~/Content/css_train")

    <!-- klpf -->
    @Styles.Render("~/Content/css_train_klpfl")
}

@section scripts {

    <!-- klpf -->
    <script type="text/javascript" src="https://embed.klipfolio.com/a/js/embed.api"></script>
    <script>
        // KF is used by std index with tables & klip reports
        if (typeof KF != 'undefined') {

            // klipfolio 1 : here because the klipfolio is available only after loading partial view
            KF.embed.embedKlip({
                profile: "d3066a5aec3f32032e5493c6e1d7f6ac",
                settings: { "width": 450, "theme": "light", "borderStyle": "round", "borderColor": "#cccccc" },
                title: "NERs Count"
            });

            // klipfolio 2 : here because the klipfolio is available only after loading partial view
            KF.embed.embedKlip({
                profile: "45a5705de26ee482f3b79609f9676ecc",
                settings: { "width": 450, "theme": "light", "borderStyle": "round", "borderColor": "#cccccc" },
                title: "NERs Type Count"
            });

            // k3
            KF.embed.embedKlip({
                profile: "c359a92c257f3fa726356b23b4415bfa",
                settings: { "width": 450, "theme": "light", "borderStyle": "round", "borderColor": "#cccccc" },
                title: "Sentiment Analysis"
            });

            // k4 : part de voix
            KF.embed.embedKlip({
                profile: "4e81c894b814346e50f7361aef991cf5",
                settings: { "width": 450, "theme": "light", "borderStyle": "round", "borderColor": "#cccccc" },
                title: "Parts de Voix"
            });
        }
    </script>
    
}

<h2>@ViewBag.Title.</h2>
<h4>Show statistics about extracted entities from your theme's data</h4>
<hr />

<!-- tab content for stats -->
<div role="tabpanel" class="tab-pane" id="statscontent">
    <div style="display:inline-block" id="kf-embed-container-d3066a5aec3f32032e5493c6e1d7f6ac"></div>
    <div style="display:inline-block" id="kf-embed-container-45a5705de26ee482f3b79609f9676ecc"></div>
    <div style="display:inline-block" id="kf-embed-container-c359a92c257f3fa726356b23b4415bfa"></div>
    <div style="display:inline-block" id="kf-embed-container-4e81c894b814346e50f7361aef991cf5"></div>
</div>