@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@section styles {

    @* backgroung visuel *@
    @Styles.Render("~/Content/css_login")
}

<h2 class="text-danger">Error.</h2>
@{
    if (String.IsNullOrEmpty(ViewBag.errorMessage))
    {
        <h4 class="text-danger">An error occurred while processing your request.</h4>
    }
    else
    {
        <h4 class="text-danger">@ViewBag.errorMessage</h4>
    }
}

