.navbar-inverse.adekwasy
{
    background-color: rgba(0,107,133,1);
}

.navbar-inverse .navbar-nav > li > a
{
    color: white;
}
.navbar-inverse .navbar-nav > li > a:hover
{
    color: #818181;
}
#vertaccordmenuandbody 
{
    background-color: rgba(0,107,133,1);
}
.navbar-fixed-top.adekwasy
{
    border-bottom-width: 0;
}
#vertaccordmenucol
{
    margin-top: 10px;
}
