/* initially for theme panel, but also for upload file panel*/
.div-inline{
    display:inline-block;
}

/* actually not for theme panel, but rather for upload file panel*/
.margin-bottom-0 {
    margin-bottom: 0px;
}

span.label.themekeywords {
    font-size: 13px;
    font-weight: 400;
    padding: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}