 
<div class="row" style="margin-top: 100px">
    <div class="col-md-4" style="height: 100px">
        <textarea style="height: 100%; width: 100%"> </textarea>
    </div>
    <div class="col-md-4" style="height: 100px">
        <textarea style="height: 100%; width: 100%"> </textarea>
    </div>
    <div class="col-md-4" style="height: 100px">
        <button id="analyzeText"></button>
    </div>


</div>