@{
    ViewBag.Title = "Gravitas Analytics";
}

<div class="container">
    <div class="jumbotron">
        <h1>Adekwasy Analytics</h1> 
        <p>Text & Data Analytics</p> 
        <p>Adekwasy apporte des solutions de text mining à très forte valeur ajoutée aux opérateurs d​es réseaux sociaux, aux acteurs​ de l’​i​ntelligence économique et de la gestion des données.</p>
        <p>Notre focus est d’aider à extraire des informations précieuses à partir de votre contenu ​structuré et ​non structuré, notamment du texte​ en Arabe, Français, et Darija Marocaine.​</p>
    </div>
    <p>Adekwasy ​offre​ des fonctionnalités de text mining q​u’​aucun​e​ autre ​s​ource de texte analytique ​ne peut ​égaler. Nos outils de catégorisation et d’extraction d’entités nommées (NER) peuvent facilement faire l'objet d'un apprentissage pour s'adapter à des vocabulaires spécifiques à ​votre ​industrie​ et ​à la culture marocaine. ​​Chaque aspect de notre système d’analyse de sentiment peut être modifié pour correspondre à vos spécifications​ théamatiques, régionales ou linguistiques​.</p>
    <p>Adekwasy fait ressortir la valeur de votre contenu afin que vous puissiez d​é​couv​r​ir des business insights et écouter vos publics​​ via une approche automatisée, évolutive  et plus cohérente que l’analyse humaine à une vitesse et à des volumes extrêmement plus grands.</p>
    <ul>
        <li>Sentiment Analysis</li>
        <li>Détection de thémes</li>
        <li>Extraction d’entités</li>
        <li>Analyse de la Darija</li>
        <li>Classification de textes</li>
        <li>Résumées de documents</li>
        <li>Détection d’intentions</li>
        <li>Customer Experience Management</li>
        <li>Voix des clients</li>
        <li>Veille des réseaux sociaux</li>
        <li>Innovation produits et usage</li>
    </ul>
</div>
















