
<div class="row" style="margin-top: 60px">
    <div class="col-md-4">
        <div class="panel panel-default active ">
            <div class="panel-heading">Arabizi</div>
            <div class="panel-body" style="padding: 0; height: 300px" >
                <textarea style="height: 100%; width: 100%" id="arabizi-text"></textarea>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default active arabic ">
            <div class="panel-heading">Arabic</div>
            <div class="panel-body" style="padding: 0; height: 300px; position:relative;">
                <div class="loader"></div>
                <textarea style="height: 100%; width: 100%" id="arabic-text"></textarea>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default" style="position: relative">
            <div class="panel-heading">Entities & tags:</div>
            <div class="loader"></div>
            <div class="panel-body" style="height: 120px; overflow-y: auto;" id="entities">
            </div>
        </div>
        <div class="panel panel-default" style="position: relative">
            <div class="panel-heading">Sentiment analysis:</div>
            <div class="panel-body" style="height: 120px">
                <div class="loader"></div>
                <h2 style="text-align: center; margin-top: 10px;" id="sentiment"></h2>
                <h3 style="text-align: center" id="sentiment-score"></h3>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <button class="btn btn-success btn-lg" type="button" id="analyze">
            Analyze
        </button>
    </div>
    <div class="col-md-2">
      
    </div>
</div>