
@{
    ViewBag.Title = "GenrateToken";
    string Message = ViewBag.Message;
    var token = Session["_T0k@n_"];
}
<div class="form-horizontal">
    <h4>GenrateToken</h4>
    <div class="form-group">
        @if (!string.IsNullOrEmpty(Message))
        {
        <label class="control-label ">@Message</label>
        }
        else
        {

        }

    </div>
    <div class="form-group">
        @if (token != null)
        {
            <label class="control-label col-lg-2">Your Token: </label>
        <div class="col-lg-10">
            <textarea class="form-control">@token</textarea>
            
        </div>
        }


    </div>
</div>
