@using ArabicTextAnalyzer.Content.Resources
@{
    ViewBag.Title = R.ForgotPasswordConfirmation;
}

@section styles {

    @* backgroung visuel *@
    @Styles.Render("~/Content/css_login")
}

<hgroup class="title">
    <h2>@ViewBag.Title.</h2>
</hgroup>
<div>
    <p>
        @R.PleaseCheckYourEmailToResetEtc.
    </p>
</div>
	
