@using ArabicTextAnalyzer.Content.Resources
@{
    ViewBag.Title = R.ResetPasswordConfirmation;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @R.YourPasswordHasBeenReset. @R.Please @Html.ActionLink(R.ClickHereToLogIn, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
